# unwanted file-types
*.pyc
/*.patch

# build products
/hveto/version.py
/build/
/dist/
/hveto.egg-info
/.eggs/

# documentation products
/docs/_build/
/docs/_generated/
/docs/api/modules.rst
/docs/api/hveto.*

# test products
/.cache/
/.coverage
