numpy >= 1.7
matplotlib >= 1.5
scipy
gitpython
jinja2
pykerberos
m2crypto
python-cjson
https://github.com/ligovirgo/trigfind/archive/v0.3.tar.gz
http://software.ligo.org/lscsoft/source/glue-1.49.1.tar.gz
http://software.ligo.org/lscsoft/source/dqsegdb-1.2.2.tar.gz
gwpy
lxml
