numpy >= 1.10
matplotlib >= 1.5
scipy
gitpython
jinja2
pykerberos
https://github.com/ligovirgo/trigfind/archive/v0.6.1.tar.gz
lscsoft-glue
dqsegdb
gwpy
git+https://github.com/ligovirgo/gwdetchar.git
lxml
